
<!-- Show recipe-->
<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>
 
<p>
  <strong>Method:</strong>
  <%= @recipe.method %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @recipe.meal %>
</p>
<!-- end-->

<!-- Show ingredients already in recipe-->
<h3>Ingredients</h3>

<ul>
<% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
    <li><%= recipe_ingredient.ingredient.name %> - <%= recipe_ingredient.amount %><%= recipe_ingredient.ingredient.unit %></li>
<% end %>
</ul>
    
<!-- end-->

<!-- Add ingredient to recipe-->
<h2>Add ingredient to recipe</h2>

<%= form_with(model: [ @recipe, @recipe.recipe_ingredients.build ], local: true) do |form| %>
  <p>
    <%= form.label :ingredient %><br>
<!--    <%= form.select :ingredient, :ingredient => Ingredient.all.map{|i| [i.name + " (" + i.unit + ")"]}.to_a %>-->
    <%= form.collection_select(:ingredient_id, Ingredient.all, :id, :label_for_select) %>
  </p>
 
  <p>
    <%= form.label :amount %><br>
    <%= form.text_field :amount %>
  </p>  

 
  <p>
    <%= form.submit %>
  </p>
<% end %>
<!-- end -->

<!-- Add new ingredient-->
<h2>Add new ingredient</h2>

<%= form_with scope: :ingredient, url: ingredients_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :unit %><br>
    <%= form.text_field :unit %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
<!-- end -->



